.Myskills-container
{
    height: 475px;
    width: 475px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(12, 12, 12, 0.2);
}
.Myskills-header
{
    margin-top: 10px;
    background-color: hsl(180deg 28.97% 45.42%);
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px 26px 0px 20px;
    height: 36px;
    color: #031312bd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Myskills-content-container
{
    flex-grow: 1;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


